.body{
    font-family: Calibri;
    font-size: 25px;
}
#logo{
    text-align: center;
    border-bottom: 1px solid;
    border-color: #eecfa1;
}
#link{
    margin-left: 5%;
    text-decoration: none;
    color :black;
}
#link:hover{
    color:#eecfa1;
}
#mua{
    border-radius: 5px 5px 5px 5px;
    background-color: #eecfa1;
    border-style: none;
    width: 200px;
    text-align: center;
}

.price{
    color: red;
    font-size: 40px;
    font-weight: bolder;
}
#pic{
    
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.info{
    margin-top : 5%;
}
