.body{
    font-family: Calibri;
    font-size: 25px;
}
#logo{
    text-align: center;
    border-bottom: 1px solid;
    border-color: #eecfa1;
}
#link{
    margin-left: 5%;
    text-decoration: none;
    color :black;
}
#link:hover{
    color:#eecfa1;
}
.bang{
margin-top: 10%;
margin-left: 10%;
}