.dangky{
    font-family: calibri;
    text-align: center;
    font-size: 18;
    margin-top: 10%;
    
}
.thongtin{
   padding-top: 20;
}
.row1{
    height:150;
    border-bottom: 2px solid #eecfa1 ;
    text-align: center;
}
.row3{
    padding-bottom: 25;
}

#matkhau{
    border : 0 ;
    border-bottom : 1px  solid  ;
    outline : 0;
}

#sodienthoai{
    border : 0 ;
    border-bottom : 1px  solid  ;
    outline : 0;
}

#dangnhap{
   background-color: #eecfa1;
   border-color:  #eecfa1 ;
   border-style: dashed;
   width: 150;
   height : 40;  
   font-size: 20 ;

}
