.body{
    font-family: Calibri;
    font-size: 25px;
}
#logo{
    text-align: center;
    border-bottom: 1px solid;
    border-color: #eecfa1;
}
#link{
    margin-left: 5%;
    text-decoration: none;
    color :black;
}
#link:hover{
    color:#eecfa1;
}
.bang{
margin-top: 10%;
margin-left: 10%;
}
#xemchitiet{
    text-decoration: none;
    border-radius:  5px 5px 5px 5px ;
    background-color :#eecfa1;
    border-style: 1px solid;
    float:right; 
    margin-bottom: 2%; 
}