.body{
    font-family: Calibri;
    font-size: 25px;
   
}

.header{
    text-align: center;
    border-bottom: 2px solid ;
    border-color: #eecfa1;
    height:10%;
}
.table{
    border : 1px solid;
}
.table th {
    border: 1px solid;
}
.row1{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;

}
#sua{
    border-style: none;
    background-color: #eecfa1;
    text-decoration: none;
    text-align: center;
}
#xoa{
    border-style: none;
    background-color: #eecfa1;
    margin-left: 5px;
    text-decoration: none;
    text-align: center;
}