.body{
    font-family: Calibri;
    font-size: 25px;
   
}

.header{
    text-align: center;
    border-bottom: 2px solid ;
    border-color: #eecfa1;
    height:10%;
}

#link{
    text-decoration: none;
    color:black;
}
#link:hover {
    color:#eecfa1;
}
#submit{
    background-color: #eecfa1;
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 30px ; 
    width: 200px;
    margin-left:35%;  
}
#legend{
    padding-top: 25px;
    text-align: center;
}